
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: white;
}

.header {
  color: white;
  padding: 40px;
  text-align: center;
  background-color: rgb(155, 79, 154);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.container .header {
  padding: 60px;  
  font-size: 40px;
} 

.content {
  background-color: #346ca7;
  border-radius: 10px;
  
}

.content .demo-container{
  margin: 30px;
}

.demo-title {
  color: black;
}

.content h1, h2, h3, p, .highlight {
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar {
  background-color: #e5a335;
  border-radius: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  margin-inline: 20px;
  
}

/* Style the code blocks */
pre {
  background-color: #f4f4f4; /* Light gray background */
  padding: 10px; /* Add padding inside the block */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ddd; /* Add a light border */
  overflow-x: auto; /* Horizontal scroll for long code lines */
  font-family: Consolas, 'Courier New', monospace; /* Monospace font */
}

pre > code{
  background-color: transparent;
}

/* Inline code styling */
code {
  background-color: #e8e8e8; /* Slightly darker gray background */
  padding: 2px 4px; /* Padding around inline code */
  border-radius: 3px; /* Rounded corners */
  font-family: Consolas, 'Courier New', monospace; /* Monospace font */
  font-size: 0.95em; /* Slightly smaller text */
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 20px;
  padding: 20px;
  flex: 1; /* Takes up the remaining space */
  word-wrap: break-word; /* Allows the text to wrap if necessary */
  white-space: normal;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  width: 100%; 
} 

.header {
  text-align: center;
  padding-bottom: 10px;
  /* border-bottom: 2px solid #6f6f6f; */
}

.demo-container{
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  border-radius: 5px;
  border: 1px solid #6f6f6f;
  padding-left: 30px;
}

.code-container{
  display: flex;
  flex-direction: row;
}

.demo-title{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CodeMirror {
  flex: 2; /* Takes 2/3 of the space */
}

#preview {
  flex: 1; /* Takes 1/3 of the space */
  background-color: white;
}


.reset-button{
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover{
    background-color: #45a049;
}

footer {
  text-align: center; 
  color: white;
  background-color: rgb(155, 79, 154);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px; 
}

