body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}

h1 {
  color: #4CAF50;
}
.container{
  display : flex;
  flex-direction : row;
}


/* Basic styling for sidebar */
.sidebar{
  width : 200px;
  padding : 20px;
  color : white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin: 5px 0;
}
.sidebar a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
button.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.collapsible .arrow {
  transition: transform 0.3s ease;
}
button.collapsible.active .arrow {
  transform: rotate(90deg);
}
ul.content {
  display: none;
  margin-left: 15px;
}
ul.content li a {
  font-size: 14px;
  padding: 3px 10px;
}