<nav class="sidebar">
  <ul>
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li>
          <button class="collapsible">
              HTML Guide
              <span class="arrow">&#9654;</span>
          </button>
          <ul class="content">
              <li><a href="{{ site.baseurl }}/html-guide/head.html">&lt;head&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/title.html">&lt;title&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/body.html">&lt;body&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/h-tags.html">&lt;h1&gt; to &lt;h6&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/p.html">&lt;p&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/ol.html">&lt;ol&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/ul.html">&lt;ul&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/img.html">&lt;img&gt;</a></li>
              <li><a href="{{ site.baseurl }}/html-guide/a.html">&lt;a&gt;</a></li>
          </ul>
      </li>
      <li>
          <button class="collapsible">
              CSS Guide
              <span class="arrow">&#9654;</span>
          </button>
          <ul class="content">
              <li><a href="{{ site.baseurl }}/css-guide/link.html">&lt;link&gt;</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/background-color.html">Background-color</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/opacity.html">Opacity</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/text-align.html">Text-align</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/font-family.html">Font-family</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/font-size.html">Font-size</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/font-weight.html">Font-weight</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/width.html">Width</a></li>
              <li><a href="{{ site.baseurl }}/css-guide/height.html">Height</a></li>
          </ul>
      </li>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
  </ul>
</nav>

<style>
/* Basic styling for sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin: 5px 0;
}
.sidebar a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
button.collapsible {
  background-color: #007acc;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.collapsible.active {
  background-color: #005fa3;
}
button.collapsible .arrow {
  transition: transform 0.3s ease;
}
button.collapsible.active .arrow {
  transform: rotate(90deg);
}
ul.content {
  display: none;
  margin-left: 15px;
}
ul.content li a {
  font-size: 14px;
  padding: 3px 10px;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const collapsibles = document.querySelectorAll(".collapsible");
  collapsibles.forEach((button) => {
      button.addEventListener("click", function () {
          this.classList.toggle("active");
          const content = this.nextElementSibling;
          if (content.style.display === "block") {
              content.style.display = "none";
          } else {
              content.style.display = "block";
          }
      });
  });
});
</script>
