<nav>
  <ul>
      <li><a href="{{ site.url }}/">Home</a></li>
      <li>
          <button class="collapsible">
              HTML Guide
              <span class="arrow">&#9654;</span>
          </button>
          <ul class="sidebar-content">
              <li><a href="{{ site.baseurl }}/resources/html-guides/head">&lt;head&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/title">&lt;title&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/body">&lt;body&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/h-tags">&lt;h1&gt; to &lt;h6&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/p">&lt;p&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/ol">&lt;ol&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/ul">&lt;ul&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/img">&lt;img&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/html-guides/a">&lt;a&gt;</a></li>
          </ul>
      </li>
      <li>
          <button class="collapsible">
              CSS Guide
              <span class="arrow">&#9654;</span>
          </button>
          <ul class="sidebar-content">
              <li><a href="{{ site.baseurl }}/resources/css-guides/link">&lt;link&gt;</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/background-color">Background-color</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/opacity">Opacity</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/text-align">Text-align</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/font-family">Font-family</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/font-size">Font-size</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/font-weight">Font-weight</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/width">Width</a></li>
              <li><a href="{{ site.baseurl }}/resources/css-guides/height">Height</a></li>
          </ul>
      </li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
</nav>


<style>
/* Basic styling for sidebar */
.sidebar{
  width : 200px;
  padding : 20px;
  color : #222;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  color : #222;
  margin: 10px 0;
}
.sidebar a {
  text-decoration: none;
  display: block;
  color : #222;
  font-size: 18px;
  padding: 5px 10px;
}
button.collapsible {
  background-color: transparent;
  cursor: pointer;
  color : #222;

  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.collapsible .arrow {
  transition: transform 0.3s ease;
}
button.collapsible.active .arrow {
  transform: rotate(90deg);
}
ul.sidebar-content {
  display: none;
  margin-left: 15px;
}
ul.content li a {
  font-size: 14px;
  padding: 3px 10px;
  color : #222;

}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const collapsibles = document.querySelectorAll(".collapsible");
  collapsibles.forEach((button) => {
      button.addEventListener("click", function () {
          this.classList.toggle("active");
          const content = this.nextElementSibling;
          if (content.style.display === "block") {
              content.style.display = "none";
          } else {
              content.style.display = "block";
          }
      });
  });
});
</script>
