p{
color:#00b33c;background-color: blanchedalmond;
padding: 20px; 
border-radius: 10px;
}
h1,h3{color:orange;  }
body{background-color: #b3ecff;
font-family: verdana;
margin: 30px;
}



#img1{
    border-radius: 50%;
}