p{
    color:black;
    background-color: #d80606;
}

h1, h3 {
    color:black;
}
body{
    background-color: #d80606;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px
}
#img1{
    animation: spin 0.0001s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg) ;
    }
    to{
        transform: rotate(360deg) ;
    }
}