p{
    color:aquamarine;
}

h1{
    color:aquamarine;
}

h2{
    color:aquamarine
}

body{
    background-color: #009999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}