<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://bondingthroughcoding.github.io/resources/css/styles.css">
</head>
<body>  

    <div class="container">
        <h1>Bonding Through Coding</h1>
        <div class="subcontainer">

            <div class="sidebar">
                {% include sidebar.html %}
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

</body>
</html>
